/*#62A8CD*/

body {
	margin: 0;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	background: url(bg.png) no-repeat;
	background-size: cover;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	margin: 0;
} a:hover {
	text-decoration: underline;
}

img	{
	width: calc(12vw + 280px);
	max-width: 90vw;
}

.welcome {
	height: 100vh;
}


#welcomeHeader {
	padding: 30vh 0;
	font-size: calc(30px + 4vw);
	text-align: center;
	white-space: nowrap;
}

.between {
	margin: 15vh 0;
}

#listHeader {
	font-size: calc(10px + 3vw);
	text-align: center;
	white-space: nowrap;
	margin: 0 0 30px 0;
}

#foto, #QRWeb, #firtsSlide, #QRVK, #firtsSlide {
	display: flex;
	margin: 0 auto;
	padding: calc(0.1vw + 2px);
	background: white;
}

.web, .pres, .admin {
	margin: 30vh 0 0 0;
}

.webName, .presName, .adminName, .fHeader {
	font-size: calc(10px + 2.5vw);
	text-align: center;
	white-space: nowrap;
	margin: 0 0 30px 0;
}

.webLinks {

}

#QRWebDisc, #webText, #presLink, #VKLink, #BPName, #tapeLink, #webLink, #TMName, #videoLink {
	margin: 30px 0 15px 0;
	font-size: calc(10px + 1vw);
	text-align: center;
}

footer {
	margin: 30vh 0;
}

.hr {
	background: white;
	margin: 30vh 10vw 0 10vw;
	padding: 1px;
}

#end {
	margin: 30vh 10vw 15vh 10vw;
}

#disc {
	margin: 30px 0 15px 0;
	font-size: calc(10px + 0.5vw);
	text-align: center;
}

.BP, .TM {
	margin: 100px 0;
} 